body {
  font-family: sans-serif;
  background: linear-gradient(to top, #d0e8f2, #ffffff);
  margin: 0;
}

nav ul {
  display: flex;
  background-color: #0077be;
  list-style: none;
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

section {
  padding: 20px;
}
